<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.csstudio.logbook.ui.toolbar">
            <command
                  commandId="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
                  icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-16.png"
                  label="Create New Fault Report"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-16.png"
               label="Create New Fault Report"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-16.png"
               label="Fault Report"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.LogEntry">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="+">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
            id="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
            name="Create Fault Report">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.logbook.olog.property.fault.FaultViewer"
            id="org.csstudio.logbook.olog.property.fault.viewer"
            name="Fault View"
            restorable="true">
      </view>
   </extension>

</plugin>
